PORT=3000
NODE_ENV=production
BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
DOKPLOY_UPDATE_IMAGE="ghcr.io/abhash-chakraborty/dokploy"
DOKPLOY_RELEASE_REPOSITORY="Abhash-Chakraborty/dokploy"
DOKPLOY_RELEASE_GITHUB_TOKEN=""
